@font-face {
    font-family: "MPlus";
    src: url("../ui/assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf");
}

body {
    font-family: MPlus, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("../ui/assets/bg.png");
    background-size: cover;
}
.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 20rem;
    height:100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    color:white;
    font-weight: bold;
}
h3{
    color:white;
}
p {
    color:#ccc;
    padding:0;
    margin: 0;
}
.sone_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play_btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.play_btn:hover {
    background-color: #0056b3;
}
.help_section{
    width: 100%;
    color: white;
}
.close_btn {
    position: absolute;
    right:5rem;
    top:2rem;
    width:4rem;
    height:4rem;
    border-radius: 50%;
    border:none;
    background: #007BFF;
    color:white;
    font-size: 2rem;

}
.header_div{
    width:100%;
    height:20%;
   
}
.bottom_ctr {
    width: 100%;
   
}

.config_board{
    border:1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
   
}
.config_square {
    border:2px solid #ccc;
    width:50px;
    height: 50px;
   
}
.row_head {
    display: flex;
    gap:.5rem;
    margin-left:1.7rem;
    width: 100%;
    padding:none;
    
}
.col_head{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    margin-right:0.6rem;
}
.row_hel {
    text-align: center;
    color: white;
    width: 45px;
    height: 45px;
    font-size: 2rem;
  
}
.col_hel {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.align_bottom{
    display: flex;
}